

body {
    position:relative;
    height: 100%;
    margin: 0 auto;
    background-image:url(../../assets/images/dust_scratches.png);
    background-repeat: repeat-x, repeat-y;
    background-size: cover;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/* Background pattern from Toptal Subtle Patterns */


header {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    height: 68px;
    margin-bottom: 30px;
    
}

.hwidth {
    width: 960px;
    margin-left: 15%;
   
}

h1 {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    line-height: 100%;
    padding: 20px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;

}

.h1 ::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.navbar {
    float: right;
    padding-top: 10px;

}


.nav {
    float: left;
    margin: 10px;

}

.nav ::after {
    content: "";
    display: block;
    clear: both;
}
main {
    clear: both;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 15%;
    max-width: 960px;
}




footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    height: 35px;
    width: 100%;
}